@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600&family=Indie+Flower&family=Lora:ital@0;1&family=Oswald:wght@200&family=Square+Peg&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/*font-family: 'Amatic SC', cursive; h1 menu
font-family: 'Lora', serif; h3 menu
font-family: 'Oswald', sans-serif;  body
font-family: 'Square Peg', cursive; h2 menu
font-family: 'Water Brush', cursive;  titulo 
font-family: 'Indie Flower',
font-family: 'Dancing Script',
font-family: 'Kdam Thmor Pro'*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family:'Oswald';
    background-image:url(img/fondos/madera\ gris.jpg);
    background-size: 100%;  
}    
nav{
    background-image: url(img/img-svg/colores.svg);
    

    
}
.header nav{
    position: fixed;
    inline-size: 90%;
    margin: 0% 5%;
}
    

header nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
    
}
header nav div ul{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
a{
    color: rgb(0, 0, 0);
    
}
.menu li{
    position: relative;
}


.menu .li1::before{
    content: "";
    block-size: 3px;
    inline-size: 0%;
    background: rgb(223, 223, 32);
    position: absolute;
    inset-block-end: -1px;
    transition: .3s;
    
}
.menu .li1:hover::before{
    inline-size: 100%;
}
.menu .li2::before{
    content: "";
    block-size: 3px;
    inline-size: 0%;
    background: rgb(6, 57, 124);
    position: absolute;
    inset-block-end: -1px;
    transition: .3s;
    
}
.menu .li2:hover::before{
    inline-size: 100%;
}
.menu .li3::before{
    content: "";
    block-size: 3px;
    inline-size: 0%;
    background: rgb(170, 35, 35);
    position: absolute;
    inset-block-end: -1px;
    transition: .3s;
    
}
.menu .li3:hover::before{
    inline-size: 100%;
} 
h1 span{
    transition: .5s linear;

}
h1:hover span:nth-child(1){
    margin-inline-end: 5px;
    color:rgb(223, 223, 32) ;
}
h1:hover span:nth-child(1)::after{
    content: "";
}
h1:hover span:nth-child(2){
    margin-inline-end: 10px;
    color: rgb(6, 57, 124);
}
h1:hover span:nth-child(3){
    margin-inline-end: 15px;
    color: rgb(170, 35, 35);
}
/* horizontal vertical blur color*/
h1:hover span{
    text-shadow: 0 0 10px #000000,
     0 0 20px #000000, 
     0 0 40px #000000
     
}

body div img{
    inline-size: 70%;
}
body div{
   align-items: center;
    

}

.titulo{
    background-image: url(img/fondos/flores.jpg);
    background-repeat: no-repeat;/*imagen de fondo se coloca al principio*/
    background-size: cover;
    text-align: center;
    padding-block-start: 10%;
    padding-block-end: 5%;
    font-family: 'Water Brush';
    font-size: 500%;
    text-transform: capitalize;
    text-shadow: 9px 9px 0 rgba(255, 0, 0, 0.233),
                 7px 7px 0 rgba(0, 0, 255, 0.301),
                 5px 5px 0 rgba(255, 255, 0, 0.356);
    
    }
.bienvenida{
    font-family:'Kdam Thmor Pro';
    text-align: center;
    font-size: 150%;
    text-shadow: 10px 10px 10px blue;
    padding: 5% 5%;


}
.linea{
    background-color: rgb(226, 10, 226);
    block-size: 5px;
    inline-size: 20%;
    margin: 0px auto;
}
h2{
    text-align: center;
    padding-block-start: 5%;
    padding-block-end: 5%;
}
.imglocal{
      display: flex;
      flex-direction: column;
      
}
.imglocal img{
    margin-block-end: 5%;
    border-radius: 5%;
    box-shadow: -6px -6px 7px 8px black;
    
}
footer{
    color: white;
    background-color: #000000cb;
    display: flex;
    justify-content: space-between;
    
}
h2{
    font-size: 400%;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0),
                1px 2px 1px rgba(0, 0, 0, 0.082),
                1px 3px 1px rgba(0, 0, 0, 0.192),
                1px 4px 3px rgba(0, 0, 0, 0.274),
                1px 4px 1px rgba(0, 0, 0, 0.301),
                1px 4px 2px rgba(0, 0, 0, 0.336);
}


/* aqui empieza el menu*/
menu h1{
    text-align: center;
    font-family: 'Amatic SC';


}



article{
    inline-size: 80%;
    padding: 5% 0%;
}
article img{
    inline-size: 100%;
}
menu h2{
    font-family: 'Square Peg';
    text-align: center;
    
    
}
menu h3{
    font-family:'lora' ;
}
section article p{
    font-family:'Indie Flower';

}
body menu section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0% 15%;
}
.body-menu{
    background-image: url(img/fondos/colores\ nubes.jpg);
    background-size: 100%;
    
    
   
    
}
.body-menu h1{
       font-size: 500%;

}
img{
    border-radius: 5%;
    box-shadow: inset 5px 5px 10px 6px black;  
}
.atajos{
    font-size: 150%;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(223, 223, 32),
                 1px 2px 1px rgb(6, 57, 124),
                 1px 3px 1px rgb(170, 35, 35);
                  

}













    
